
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:linear-gradient(#f1c40f, #f39c12);
}

.section{
    min-height: 100vh;
    padding:1rem 7%;
    padding-top:6rem;
}

.btn{
    padding:.7rem 3rem;
    font-size: 2rem;
    color:#fff;
    background:var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:-1rem; left:-100%;
    background:#fff9;
    height:150%;
    width:20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before{
    transition: .3s linear;
    left: 120%;
}

.heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 7%;
    background:var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

.course .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.course .box-container .box{
    width:35rem;
    border:.1rem solid rgba(0,0,0,.3);
    position: relative;
    margin:1.5rem;  
}

.course .box-container .box img{
    height:20rem;
    width: 100%;
    object-fit: cover;
}

.course .box-container .box .content{
    padding:1rem;
}

.course .box-container .box .content .stars i{
    color:#f39c12;
    font-size: 1.7rem;
    padding:1rem .1rem;
}

.course .box-container .box .content .title{
    color:#444;
    font-size: 2.1rem;
}

.course .box-container .box .content .title:hover{
    text-decoration: underline;
}

.course .box-container .box .content p{
    padding:1rem 0;
    color:#666;
    font-size: 1.5rem;
}

.course .box-container .box .content .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}

.course .box-container .box .content .info h3{
    font-size: 1.5rem;
    padding:1rem;
    color:#666;
}

.course .box-container .box .content .info h3 i{
    color:#f39c12;
}

.course .box-container .box .price{
    position: absolute;
    top:16rem; right:1rem;
    height:8rem;
    width:8rem;
    line-height: 8rem;
    text-align: center;
    border-radius: 50%;
    background:var(--gradient);
    color:#fff;
    font-size: 3rem;
}

